/* Header */
nav.navbar img {
	width: 100%;
	height: 100%;
}
div#titre1 {

	position: absolute;

	left: 40%;

top: 20%
	
}


nav {
	margin-bottom: 100px;
}


div#nav-wrap {
	width: 100%;
}

div#username {
	position: absolute;
	right: 10px;
	top: 10px;
}

/* Content */
section.floating article {
	float: left;
	width: 30%;
	height: 200px;
}

/* Footer */
div.navbar.fixed-bottom > div {
	display: flex;
	flex-flow: column;
}

div.navbar.fixed-bottom > div > span {
	color: #dadada;
}