
body{
    background-color: black;
}
span.alert.alert-danger {	
	padding: 0px;
	border :0px;
}


div.header{
    z-index: +1;
    width: 100%;
    height: 7em;
    position: fixed;
    top: 0ex;
    background-color: darkgoldenrod;
}

div.footer{
    position: fixed;
    z-index: +1;
    width: 100%;
    bottom: 0px;
    background-color: darkgray;
    height: 3ex;
    text-align: center
}

form#authentification{
    position: relative;
    background-color: darkgray;
    padding: 2em;
    top: 250px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;

}
h1{
    margin-left: 10em;
}
h3{
    position: relative;
    bottom: 1ex;
    font-weight: bold;
    text-decoration: underline;
}



.navbar{
    height: 6em;
}

button.valForm{
    border-radius: 5px;
    margin-top: 1ex;
    padding: 1ex;
    width: 50%;
}

#username {
	position: absolute;
	right: 22%;
}

#logout {
	width: 3ex;
	height: 3ex;
}

#disconect{
	position: absolute;
	right: 20%;
}

.roundedImage {
	position: absolute;
	background-color: gray;
	overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
	widows: 87px;
	width: 80px;
	height:80px;
	left: 4ex;

}

#logo {
	position: relative;
	border-radius: 50%;
	z-index: +2;
	width: 75px;
	height: 75px;
	left: 25px;
	top: 7px;


}

@charset "ISO-8859-1";

.container {
	position: realtive;
	margin-top: 7em;
	top: 120px;
	padding: 3ex;
	background-color: darkgray;
}


.widget-header {
	position: relative;
	bottom:3ex;
}

.widget-header>h3 {
	margin: 0;
	color: white;
	text-align: center;
}

.action {
	text-align: center;
}

.actions {
	text-align: center;
	background-color: red;
}

.actions>div {
	position: relative;
	top: 50px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 5px;
	margin-left: 5px;
	display: inline-block;
	background-color: white;
	width: 30%;
}

div#icones{
	position: relative;
	width: 30%;
	height: 24px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 5px;
	margin-left: 7px;
}

.CRUDIcons {
	width: 24px; 
	height: 24px;
}

div.virementBloc{
    padding: 2em;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
}
