

div#connexion{
    color: white;
    margin-top:25vh;
}

.mid-logo{
    height: 120px;
}

.text-bank{
    color: rgba(17,30,108,1.0);
}

.text-bank-light{
    color: #179bd7;
}

.bg-bank{
    background-color: rgba(17,30,108,1.0);
}

.bg-bank-light{
    background-color: #179bd7;
}



/* ECRAN 2 LISTE CLIENTS */
.perso-pill{
    padding: 1em;
}

/* menu fixed actions */

.actionorga{
    position: fixed;
    top: 40%;
    right: -5px;
    box-shadow: 0 2px 5px rgba(156,160,171,0.25);
}